@use "./colors" as *;
@use "./typography" as *;
@use "./button" as *;

html,
body {
  font-feature-settings: "tnum" on, "lnum" on;
  font-family: $font-family;
  color: var(--grey-900);
}

body {
  background-color: var(--primary-100);
  margin-top: calc(4.5rem - 1px);
}

main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--grey-900);
}

@media screen and (min-width: 576px) {
  main {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  main {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  main {
    max-width: 1320px;
  }
}
