@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  background-color: var(--primary-100);
  border-bottom: 1px solid var(--grey-900);
  z-index: 3;
  height: 4.5rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  a,
  button {
    text-decoration: none;
    color: var(--grey-900);
    text-transform: uppercase;
    @include text("md");
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .links {
    padding: 0.5rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
    border-left: 1px solid var(--grey-900);
    i {
      font-size: 1.25rem;
    }
  }
  .logo {
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--grey-900);
    img {
      height: 3rem;
    }
  }
}

@media screen and (min-width: 768px) {
}
