@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;
@use "../../styles/button" as *;
@use "../../styles/icon" as *;

#new-password {
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    height: 100%;
    padding: 1rem;

    header {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      h1 {
        @include title("sm", $weight: 600);
        text-align: center;
        color: var(--grey-900);
      }
      p {
        @include text("md");
        text-align: center;
        color: var(--grey-500);
        text-wrap: balance;
      }
    }
    form.new-password-form {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: stretch;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 768px) {
  #new-password {
    .content {
      padding: 5rem;
    }
  }
}
